.login-content{

    background-image: url(../images/login/login2.jpg);
}

.login-box{
    border: 2px solid rgb(48, 45, 45);
  border-radius: 25px;
  box-shadow: 12px 12px 2px 1px rgba(84, 84, 90, 0.2);
  
}

.gr1{

    float: left;
    margin-top: 10px;
    
}

.gr2{

    float: left;
    margin-top: 0;
    padding-left: 10%;
}